@model SinavBankasi.Models.QuestionModel
@{
    var totalQuestion = Model.TotalQuestionInset;
    var endTime = ((DateTime)ViewBag.TimeWxpire);
    var timeRemaining = TimeSpan.FromTicks(endTime.Ticks - DateTime.UtcNow.Ticks).TotalSeconds.ToString("#");

}

<div class="row">
    <div class="col-md-12">
        <div class="question-number"> Soru : @(Model.QuestionNumber)</div>
        <div> Kalan Süre : <span id="minRemaining "></span>: <span id="secRemaining"></span></div>
    </div>
</div>
@using (Html.BeginForm("PostAnswer", "Home", FormMethod.Post, new { @TestId = "form" }))
{
    <input type="hidden" name="Direction" value="forward" />
    <input type="hidden" name="Token" value="@(Session["TOKEN"] ?? "")" />
    <input type="hidden" name="TestId" value="@(Model.TestId)" />
    <input type="hidden" name="QuestionId" value="@(Model.QuestionNumber)" />

    <div class="row">
        <div class="col-md-10">
            <table>
                <tr>
                    <td><a href="javascript:void(0)" class="btn btn-primary" onclick="saveBackward(this)"> |<< İlk &  Önceki </a></td>
                    <td><a href="@Url.Action("EvalPagec", new { @token = Session["TOKEN"], @tid = Session["TESTID"], @qno = (Model.QuestionNumber > 1 ? Model.QuestionNumber - 1 : 1) })" class="btn btn-default"> |<< Önceki </a></td>
                    @for (int i = 0; i < Model.TotalQuestionInset; i++)
                    {
                        <td>
                            <a href="@Url.Action("EvalPagec", "Home", new { @token = Session["TOKEN"], @qno = (i + 1) })" class="btn @(Model.QuestionNumber == (i + 1) ? "btn-primary" : "btn-default")">@(i + 1)</a>
                        </td>
                    }
                    <td><a href="@Url.Action("EvalPagec", new { @token = Session["TOKEN"], @tid = Session["TESTID"], @qno = (Model.QuestionNumber < (totalQuestion - 1) ? Model.QuestionNumber + 1 : totalQuestion) })" class="btn btn-default"> Sonraki >> |</a></td>
                    <td><a href="javascript:void(0)" class="btn btn-primary" onclick="saveBackward(this)"> Sonraki & Son >> |  </a></td>
                </tr>
            </table>
        </div>
        <div class="col-md-10">
            <p>
                <br />
                @Html.Raw(Model.Question ?? " ")
            </p>
            @switch (Model.QuestionType)
            {
                case "Test":
                    <div class="prelude"> Cevap şıkkını seç</div>
                    <ul class="js_choices">
                        @for (int i = 0; i < Model.Options.Count; i++)
                        {
                            <li>
                                <input type="hidden" name="UserChoices[@i].ChoiceId" value="@Model.Options[i].ChoiceId" />
                                <input type="radio" name="UserChoices[@i].IsChecked" @(Model.Options[i].Answer != null ? "checked" : "") />
                                <span class="code">@Html.Raw(Model.Options[i].Label.Replace("[", "&lt;").Replace("]", "&gt;"))</span>
                            </li>
                        }
                    </ul>
                    <input type="hidden" name="Answer" value="no-data" />
                    break;
                case "Çoktan Seçmeli":
                    <div class="prelude"> Cevap şıklarını seç</div>
                    <ul class="js_choices">
                        @for (int i = 0; i < Model.Options.Count; i++)
                        {
                            <li>
                                <input type="hidden" name="UserChoices[@i].ChoiceId" value="@Model.Options[i].ChoiceId" />
                                <input type="checkbox" name="UserChoices[@i].IsChecked" @(Model.Options[i].Answer != null ? "checked" : "") />
                                <span class="code">@Html.Raw(Model.Options[i].Label.Replace("[", "&lt;").Replace("]", "&gt;"))</span>
                            </li>
                        }
                    </ul>
                    <input type="hidden" name="Answer" />
                    break;
                case "Klasik":
                    <div> Cevabını yaz:</div>
                    <div>
                        <p>
                            <input type="hidden" name="UserChoices[0].ChoiceId" value="@Model.Options[0].ChoiceId" />
                            <textarea name="Answer" class="form-control">@(Model.Options[0].Answer)</textarea>
                        </p>
                    </div>
                    break;
            }
        </div>
    </div>
}

<script>
    var remSeconds =@timeRemaining;
    var secondsCounter = remSeconds % 60;
    function formatNumber(number)
    {
        if (number < 10) return '0' + number;
        else return '' + number;
              
    }

    function startTick()
    {
        document.getElementById("secRemaining").innerText =formatNumer(secondsCounter);
        document.getElementById("minRemaining").innerText =formatNumber( parseInt(remSeconds / 60));

        var _tick = setInterval(function ()
        {
            if (remSeconds > 0) {
                remSeconds = remSeconds - 1;
                secondsCounter = secondsCounter - 1;

                document.getElementById("secRemaining").innerText = formatNumer(secondsCounter);
                document.getElementById("minRemaining").innerText = formatNumber(parseInt(remSeconds / 60));
                if (secondsCounter == 0) {
                    secondsCounter = 60;
                }
            }
            else
            {
                alert("Sınav süreniz dolmuştur ");
                clearInterval(_tick);

            }

        }, 1000);
    }
    startTick();
    function saveForwars(sender)
    {
        $('#direction').val('forward');
        document.getElementById('form').submit();

    }
    function saveBackwars(sender) {
        $('#direction').val('backward');
        document.getElementById('form').submit();

    }
</script>





@*@if (Model.QuestionType == "Çoktan Seçmeli")
    {
            foreach (var item in Model.Options)
            {
            <input type="checkbox" />
                @(item.Label)
                <br />


                <br />
            }
        }
    else if (Model.QuestionType == "Test")
        {
            foreach (var item in Model.Options)
            {
            <input type="radio" />
            <br />
            <br />
            }
        }
        else if (Model.QuestionType == "Klasik")
        {
            foreach (var item in Model.Options)
            {
            <textarea>Buraya Yaz </textarea>
            <br />
            <br />
            }
        }*@