@model EntityLayer.Concreate.Heding
@{
    ViewBag.Title = "AddHeding";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Konu Ekleme sayfası</h2>

@using (Html.BeginForm("AddHeding", "Heding", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Konu Adı")
        @Html.TextBoxFor(x => x.HedingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HedingName)
        <br />
        @Html.Label("Ders")
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
        <br />
        @Html.Label("Eğitmen")
        @Html.DropDownListFor(x => x.WriterID, (List<SelectListItem>)ViewBag.vlw, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterID)
        <br />

        <button class="btn btn-info"> Konuyu ekle</button>
    </div>
}


